/*-----------------FONT IMPORT------------------*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/*-----------------TAG SELECTORS-------------------*/
tr {
  vertical-align: top;
}

td {
  line-height: 1.6;
  width: auto;
  text-align: justify;
}

form {
  font-style: normal;
}

input {
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  font-style: oblique;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #5a473a;
  border-width: 0.4vw;
  width: 5%;
  opacity: 0.4;
}

a {
  font-size: 16px;
}

a:link {
  color: #5a473a;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:active {
  color: #5a473a;
}

body {
  background-color: #e9e6e4;
}

/*-----------------CLASS SELECTORS------------------*/
.td_communication {
  width: 25vw;
}

.center_a_text {
  text-align: center;
}

.img:hover {
  transform: scale(1.4);
}

.container {
  display: flex;
  justify-content: space-between;
}

.container>div {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  width: 30vw;
  height: auto;
}

/*-----------------ID SELECTORS------------------*/
#pic_signature_about_div {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 9px 0px 0px #ffffff, 0 -9px 0px 0px #e9e6e4, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

#profile_img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#signature {
  padding-top: 1vh;
  font-family: Dancing Script, cursive;
  color: #161412;
  text-align: center;
}

#pic_signature_div {
  align-items: center;
  flex: 1;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

#about_div {
  padding-right: 2vw;
  text-align: justify;
  font-family: Indie Flower;
  overflow: auto;
  height: 20vh;
  font-size: 16px;
  flex: 2;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

#about_div:hover {
  transform: scale(1.05);
}

#game_div {
  padding-right: 2vw;
  overflow: auto;
  height: 20vh;
  text-align: justify;
  font-family: Indie Flower;
  font-size: 16px;
  flex: 3;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

#game_div:hover {
  transform: scale(1.05);
}

#main_section {
  font-family: monospace;
  font-size: 18px;
  padding: 50px;
  box-shadow: 0 9px 0px 0px #ffffff, 0 -100px 0px 0px #ffffff, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

#footer_section {
  background-color: #ffffff;
  height: 8vh;
  padding-top: 1vh;
  /*position: absolute;
  bottom: 0;*/
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 0px 0px #e9e6e4, 0 -9px 0px 0px #ffffff, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

#icons_div {
  flex: 1;
}

#copyright {
  padding-top: 0px;
  text-align: justify;
  font-family: Indie Flower;
  font-size: 12px;
  flex: 2;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
  line-height: 1.6;
}
